# Backend
back-end/node_modules/
back-end/.env
back-end/.env.local
back-end/.env.production.local
back-end/logs/
back-end/dist/
back-end/Logs
back-end/drizzle

# Frontend
front-end/node_modules/
front-end/.env.local
front-end/.env.production.local
front-end/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Misc
.cache/
.turbo/

bus-booking-test
back-end/scripts